version: "5.0"

services:

  # =========================
  # POSTGRES
  # =========================
  postgres:
    image: postgres:16-alpine
    container_name: course-postgres
    restart: unless-stopped

    environment:
      POSTGRES_DB: course_db
      POSTGRES_USER: course
      POSTGRES_PASSWORD: course

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U course"]
      interval: 5s
      timeout: 5s
      retries: 5


  # =========================
  # REDIS
  # =========================
  redis:
    image: redis:7-alpine
    container_name: course-redis
    restart: unless-stopped

    command: >
      redis-server
      --requirepass course_redis_pass

    ports:
      - "6379:6379"

    volumes:
      - redis_data:/data


# =========================
# VOLUMES
# =========================
volumes:
  postgres_data:
  redis_data:
