server:
  port: 8081

spring:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  cache:
    type: redis
  data:
    redis:
      host: ${REDIS_HOST}
      port: 6380
      password: ${PRIMARY_KEY}
      ssl:
        enabled: true
      timeout: 30s
      lettuce:
        client-options:
          protocol-version: RESP2
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      database: postgresql
      database-platform: org.hibernate.dialect.PostgreSQLDialect

app:
  security:
    jwt:
      access-expires-at: ${JWT_ACCESS_EXPIRES}
      refresh-expires-at: ${JWT_REFRESH_EXPIRES}
      prefix: ${JWT_PREFIX}
      auth-header: ${Authorization}
      access-secret: ${LtuNgV2sqXalqpaq6boc0b0LrODJV7DcNwESmgZKbSlqjSxZrCLSWL8OZvW7i5medMvEtklmIUBtuVFAJUvB0Q}
      refresh-secret: ${jF4KoeAVEPy9J5Ry3iA1kE60_hVZMQ4BQS2U7SeFlQLErjsf453OwQ9PFhDwYLtlJLKI4iD50t9AKlO8FWo9fA}

  api:
    base-url-api: ${API_BASE_URL}
    title: ${API_TITLE}
    version: ${API_VERSION}
    contact-email: ${API_CONTACT_EMAIL}
    swagger:
      enable: true