name: CI/CD Courses to Azure App Service

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: mvn clean install -DskipTests

      - name: Azure Login
        uses: azure/login@v2
        with:
          # Chỉ cần dòng này, KHÔNG thêm auth-type
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        run: |
          mvn azure-webapp:deploy \
            -Dazure.webapp.name=courses-demo \
            -Dazure.deployment.allowTelemetry=false
#      - name: Deploy to Azure Web App
#        uses: azure/webapps-deploy@v3
#        with:
#          app-name: 'courses-demo'
#          # QUAN TRỌNG: Dòng này bắt buộc phải có để KHÔNG cần login
#          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
#          package: target/*.jar